In [44]:
# Creează o variabilă numită `name` și seteaz-o la numele tău
name = "Myreen Leancă"
# Acum afișează valoarea variabilei `name` folosind funcția `print`
print(name)

Myreen Leancă

In [45]:
# Acum creează o nouă variabilă numită `name2` și seteaz-o la valoarea variabilei `name` și afișează valoarea variabilei `name2` folosind funcția `print`
name2 = name
print(name2)

Myreen Leancă

In [46]:
# Acum printează ultimul caracter al variabilei `name` folosind indexarea
print(name[-1])
print(name[12])
# Acum printează primele 3 caractere ale variabilei `name` folosind slicing
print(name[0:3])

ă
ă
Myr

In [47]:
# Acum printează valoarea variabilei `name` în majuscule folosind metoda `upper`
name.upper()

'MYREEN LEANCĂ'

In [48]:
# Acum printează valoarea variabilei `name` în minuscule folosind metoda `lower`
name.lower()

'myreen leancă'

In [49]:
# Acum printează concatenarea variabilelor `name` și `name2`
print(name + name2)
print(name, name2)

Myreen LeancăMyreen Leancă
Myreen Leancă Myreen Leancă

In [50]:
# Creează o variabilă `text` și setează-i un text la alegere, cu restricția ca acesta să conțină mai multe rânduri
text = """
Sigmoid AI in cadrul Python Odyssey,
preda cursul privind limbaj de programare python
in regim online.
Ei sunt cel mai tari echipa!
"""
# Verifică dacă variabila `text` conține cuvântul `python`
if "python" in text:
    print("True")
else:
    print("False")

True

In [51]:
# Folosește metoda replace pentru a înlocui litera `a` din variabila `text` cu litera `e`
text.replace("a", "e")

'\nSigmoid AI in cedrul Python Odyssey,\nprede cursul privind limbej de progremere python\nin regim online.\nEi sunt cel mei teri echipe!\n'

In [52]:
# Folosește metoda split pentru a transforma variabila `text` într-o listă de cuvinte
text.split()

['Sigmoid',
 'AI',
 'in',
 'cadrul',
 'Python',
 'Odyssey,',
 'preda',
 'cursul',
 'privind',
 'limbaj',
 'de',
 'programare',
 'python',
 'in',
 'regim',
 'online.',
 'Ei',
 'sunt',
 'cel',
 'mai',
 'tari',
 'echipa!']

In [53]:
# Creează un f-string care să conțină variabilele `name` și `name2`
f_string = f"Mă numesc {name} și locuiesc in Moldova. My name is {name2} and live in Moldova."
print(f_string)

Mă numesc Myreen Leancă și locuiesc in Moldova. My name is Myreen Leancă and live in Moldova.

In [54]:
# Verifică dacă string-ul creat se termină cu `!`
if "!" in f_string:
    print("True")
else:
    print("False")

# Verifică dacă string-ul creat începe cu `Hello`
if "Hello" in f_string:
    print("True")
else:
    print("False")

False
False

In [55]:
# Identifică indexul unde se află `!` în string-ul creat
f_string.find("!")

-1

In [56]:
# Identifică indexul unde se află `o` în string-ul creat folosind altă metodă
f_string.index("o")

28

In [59]:
# Utilizând format string-uri, creează un string care să conțină variabilele `name` și `name2`
format_string = "Ang pangalan ko ay {} at nakatira ako sa Moldova. 我的名字是 {}，我住在摩尔多瓦".format(name, name2)
print(format_string)

Ang pangalan ko ay Myreen Leancă at nakatira ako sa Moldova. 我的名字是 Myreen Leancă，我住在摩尔多瓦

In [61]:
# Concatenează string-ul creat cu string-ul `text`
print(f_string, format_string)
# Afișează lungimea string-ului creat
strings = f_string + format_string
print(len(strings))

Mă numesc Myreen Leancă și locuiesc in Moldova. My name is Myreen Leancă and live in Moldova. Ang pangalan ko ay Myreen Leancă at nakatira ako sa Moldova. 我的名字是 Myreen Leancă，我住在摩尔多瓦
181